<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Episode 3 - Lists</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div id="root">
    <li v-for="name in names" v-text="name"></li>
    <input id="add" type="text" v-model="newName">
    <button @click="addNewName">Add name</button>
</div>


<script type="text/javascript">
    var app = new Vue({
        el: "#root",
        data: {
            newName: '',
            names: ['a', 'b', 'c']
        },
        methods: {
            addNewName() {
                this.names.push(this.newName)
                this.newName = ''
            }
        }
    });
</script>

</body>
</html>
